body{
    background-color: #daffff;
}

.container{
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
}
h2{
    font-size: 5rem;
    display: flex;
    justify-content: center;
    margin-top: 7px;
}
div{
    display: flex;
    justify-content: center;
    
}
.btn {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 5px;
    height: 50px;
    width: 183px;
    margin: 4px;
    padding: 6px;
    font-size: 2rem;
}